
<div class="container-1">

<!DOCTYPE html>
<!-- saved from url=(0048)http://www.vervemobile.com/solutions/#supplyside -->


   <div class="page-title" stype="z-index: 0;">
     <div class="row">
    <div class="col-xs-12">

      <div id="carousel-drive-foot-traffic" class="carousel fade" data-interval="6000" style="z-index: 2;">
        <ol class="carousel-indicators hidden-xs">
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="1"></li>
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="2"></li>
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="3"></li>
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="4"></li>
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="5"></li>
          <li data-target="#carousel-drive-foot-traffic" data-slide-to="6"></li>
        </ol>

        <!-- slide wrapper -->
        <div class="carousel-inner">
          <!-- slide the first -->
          <div class="item active">
            <%= image_tag "Verve_Home_Slider2.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <div>
                <h2 class="foot-traffic-caption">We drive foot traffic</h2>
                <h2 class="foot-traffic-caption carousel-fade-in">onto dealer lots</h2>
              </div>
            </div>
          </div> <!-- end first slide -->

          <div class="item">
            <%= image_tag "Verve_Home_Slider1.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <h2 class="foot-traffic-caption">We drive foot traffic</h2>
              <h2 class="foot-traffic-caption carousel-fade-in">into stores</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "Verve_Home_Slider3.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <h2 class="foot-traffic-caption">We drive foot traffic</h2>
              <h2 class="foot-traffic-caption carousel-fade-in">for cpgs</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "Verve_Home_Slider4.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <h2 class="foot-traffic-caption">We drive foot traffic</h2>
              <h2 class="foot-traffic-caption carousel-fade-in">into restaurants</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "Verve_Home_Slider5.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <h2 class="foot-traffic-caption">We drive foot traffic</h2>
              <h2 class="foot-traffic-caption carousel-fade-in">into hotels</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "Verve_Home_Slider6.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <h2 class="foot-traffic-caption">We drive foot traffic</h2>
              <h2 class="foot-traffic-caption carousel-fade-in">into small businesses</h2>
            </div>
          </div>

          <div class="item">
            <%= image_tag "Verve_Home_Slider7.jpg" %>
            <div class="carousel-caption text-uppercase caption-top">
              <h2 class="foot-traffic-caption">We drive foot traffic</h2>
              <h2 class="foot-traffic-caption carousel-fade-in">into your business</h2>
            </div>
          </div>
        </div> <!-- end slide wrapper -->

        <!-- controls for the carousel -->
        <a class="left carousel-control" href="#carousel-drive-foot-traffic" data-slide="prev"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#carousel-drive-foot-traffic" data-slide="next">
          <span class="icon-next"></span>
        </a>
        <!-- end carousel controls -->
      </div> <!-- end carousel -->
    </div>
  </div>
</div>


<div class="row"></div>

<div class="row">
  <div class="col-xs-12">
    <div class="menu-solutions_menu-container">
      <ul id="menu-solutions_menu" class="menu page-top-menu">
        <li id="menu-item-3032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3032">
          <a href="#geofencing">Geo-targeting Solutions</a>
        </li>
        
        <li id="menu-item-3031" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3031">
          <a href="#segments">Geo-audience Segments</a>
        </li>
        
        <li id="menu-item-3029" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3029">
          <a href="#dynamic">Verve Direct Self-Serve</a>
        </li>

      </ul>
    </div>
  </div> <!-- end menu -->
</div>

<div class="row">
  <div class="col-xs-12 sectionintro">

    <div class="start">
      <div class="first text">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="yellowtext text-center intro-header">Geo-fenced Mobile Ads Drive Engagement and Foot Traffic</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2"></div>
            <div class="col-xs-8 text-center">
              <div class="text-box text-center">
               <p class="introtext text-left">VERVE Direct for Agencies drives higher engagement and foot traffic by serving dynamic, location aware, geo-fenced mobile ads to shoppers you want to reach, where you want to reach them on 2000+ premium local media apps like Associated Press, Weatherbug, CBS, Gannett, Raycom, NBC, ABC Local and more.</p>
              </div>
            </div>
          <div class="col-xs-2">
          </div>
          </div>

        </div>

        <div class="row hidden-xs">

          <!--<div class="crsl-items" data-crsl='{ "autoRotate": 500, "overflow": "true", "visible": 10, "speed": "slow"}'> -->
            <div class="crsl-wrap">
              <figure class="crsl-item">
                <%= image_tag "logos/abc.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/bigoven.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/cbs_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/chicagosun.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/cnet_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/fox.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/kcstar_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/miamiherald.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/msnbc.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/nbc_bayarea_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/nypost-logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/oregonlive_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/pandora_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/univision_logo.png" %>
              </figure>

              <figure class="crsl-item">
                <%= image_tag "logos/weatherbug_logo.png" %>
              </figure>
            </div>

        </div> <!-- aaaand end row -->

        <div class="row">

          <div class="col-xs-2"></div>
          <div class="col-xs-8 text-center">
            <div class="text-box text-center">
              <p class="introtext text-center">Geo-fenced mobile ads perform 10x better than online display and have 50% higher engagement than non-location-powered mobile ads. <br/> <button class="button_3d light_blue center-block" style="margin-top:20px; margin-bottom:20px;" data-toggle="modal" data-target="#the-contact-form">Learn More</button></p>
            </div>
          </div>
          <div class="col-xs-2">  </div>



        <!--<div class="row pad-bot center-block">-->
          <!--<div class="col-xs-12 center-block pad-bot">-->
            <!--<button class="btn btn-warning btn-lg center-block contact-button " data-toggle="modal" data-target="#the-contact-form">Learn More</button>-->
          <!--</div>-->
        <!--</div>-->

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="the-contact-form" tabindex="-1" role="dialog" aria-labeledby="the-contact-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title yellowtext" id="the-contact-label">Contact Us</h4>
      </div>

      <%= render "application/contact_form" %>


    </div>
  </div>
</div>



<div class="row sectionwhite testimonial-1" id="testimonial-1-row">
  <div class="col-md-4 hidden-xs hidden-sm">
    <% if 1 %>
      <%= image_tag "testimonial.gif", class: "image-responsive center-block", id: "testimonial-1-image" %>
    <% else %>
      <%= video_tag "testimonial1.mp4", class: "image-responsive testimonial-video", height: 639, width: 410, loop: "loop", autoplay: "autoplay" %>
    <% end %>
  </div>
  <div class="col-md-8 t1-quote-holder">
      <!-- <div class="hidden-xs hidden-sm" id="testimonial-1-padding"></div> -->
    <blockquote id="testimonial-1-quote">
        <h4 class="text-center testimonial-1-quote text-holder hidden-xs not-a-phone pad-bot">We restricted our message to deliver within a 5 mile radius of our store, and saw tangible results. People actually came in the store and mentioned seeing us on their mobile phone!</h4>
        <h4 class="visible-xs pad-bot">  We restricted our message to deliver within a 5 mile radius of our store, and saw tangible results. People actually came in the store and mentioned seeing us on their mobile phone!</h4>
        <footer class="quote-footer text-right text-holder hidden-xs not-a-phone">Jerry E., Owner of Avondale Auto Center</footer>
        <footer class="quote-footer text-right text-holder visible-xs">Jerry E., Owner of Avondale Auto Center</footer>

    </blockquote>
  </div>
</div>

<p class="jumplink" id="geofencing">&nbsp;</p>

<div class="row sectionblue" id="geofencing-row">
  <div class="col-md-6" id="geofencing-copy">
    <div class="text-box">

      <div class="row" id="geofencing-text">
        <div class="col-xs-12">
          <h2 class="yellowtext text-holder text-center center-block section-header">Geo-targeting Solutions</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="section-text center-block text-left text-holder">Targeting consumers in particular locations, like when they are near your store or a competitor's, can actually influence the mobile consumer's path-to-purchase and drive real time foot traffic. Verve's proprietary geo-hex technology helps advertisers drive the best results in the mobile ad business by reaching the right person, at the right place, at the right time. Advertisers can also re-target users who have previously seen their ad or visited their store or a competitor's store.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center-block text-center pad-bot">
          <button class="button_3d yellowbtn center-block " data-toggle="modal" data-target="#the-contact-form">Learn More</button>
        </div>
      </div>


    </div>

  </div>

  <div class="col-md-6 hidden-xs hidden-sm">
    <%= image_tag "geofencing-conquesting.gif", class: "vertical-middle img-responsive center-block", id: "geofencing-image" %>
  </div>
</div>


<div class="row sectionwhite segments">
  <p class="jumplink" id="segments">&nbsp;</p>

  <div class="col-md-6 hidden-xs hidden-sm">
    <%= image_tag "SoccerMom.png", class: "vertical-middle img-responsive center-block", id: "segments-image" %>
  </div>

  <div class="col-md-6 text text-center" id="segments-text">
    <div class="text-box">
      <h2 class="yellowtext center-block text-holder text-center section-header">Geo-audience Segments</h2>
      <p class="section-text center-block text-left text-holder">As compelling a signal as any that have come before, location data gives a new 360° view of the consumer — where they go, what they do, what they like, who they are. We build custom audience segments based on context models of where we have observed unique devices.</p>
      <p class="section-text center-block text-left text-holder">Our Verve Consumer Segments use a combination of real-world, location-derived user attributes as well as rich offline demographic and transactional data to build unique profiles of mobile consumers.</p>
      <button class="button_3d light_blue center-block " data-toggle="modal" data-target="#the-contact-form">Learn More</button>
    </div>
  </div>

</div>



<div class="row sectionblue dynamic">
  <p class="jumplink" id="dynamic">&nbsp;</p>

  <div class="col-md-6">
    <div class="text-box text-center" id="selfserve-text">
      <h2 class="yellowtext section-header pull-">Verve Direct Self-Serve</h2>
      <p class="section-text text-left center-block text-holder">Verve Direct's simple and elegant solution enables agencies and advertisers to set up and launch geo-targeted dynamic ads in minutes. Optimize your campaigns and make changes how you want and when you want.</p>
      <button class="button_3d yellowbtn center-block " data-toggle="modal" data-target="#the-contact-form">Learn More</button>
    </div>
  </div>

  <div class="col-md-6 hidden-xs hidden-sm">
    <%= image_tag "adm-imac.png", class: "img-responsive center-block", id: "selfserve-image" %>
  </div>

  <div class="col-xs-12 pad-bot">

  </div>
</div>


<div class="row sectionwhite testimonial-2 row">
  <div class="col-md-8 t2-quote-holder">
      <!-- <div class="hidden-xs hidden-sm testimonial-2-padding"></div> -->
    <blockquote id="testimonial-2-quote">
      <h4 class="text-center text-holder hidden-xs not-a-phone pad-bot">The return on our investment aligned with our primary SEM efforts,
        and the ability to geo-fence around our dealership to attract our most
        likely customers, was a key factor in its success. As a result of this
        experience, I'm recommending more investment of digital dollars into
        mobile for the rest of our dealership group, on a monthly basis.</h4>
      <h4 class="text-center text-holder visible-xs pad-bot">  The return on our investment aligned with our primary SEM efforts,
        and the ability to geo-fence around our dealership to attract our most
        likely customers, was a key factor in its success. As a result of this
        experience, I'm recommending more investment of digital dollars into
        mobile for the rest of our dealership group, on a monthly basis.</h4>
      <footer class="quote-footer text-right text-holder hidden-xs not-a-phone">Josh Hill, Corp. VP of Marketing for the Walter Gold Group</footer>
      <footer class="quote-footer text-right text-holder visible-xs">Josh Hill, Corp. VP of Marketing for the Walter Gold Group</footer>

      </blockquote>
    </div>

    <div class="col-md-4 t2-image-holder hidden-xs hidden-sm">
      <%= image_tag "testimonial2.gif", class: "img-responsive center-block", id: "testimonial-2-image" %>
    </div>
</div>

  
    
  <div class="row sectionwhite picbg">

  <div class="col-md-6 text text-center" id="segments-text">
    <div class="text-box">
      <h2 class="yellowtext center-block text-holder text-center section-header">State of the Market</h2>
      <p class="section-text center-block text-left text-holder">Dealerships and OEM's are leveraging location-powered mobile advertising to drive retail foot-traffic and influence sales.
Check out our latest white paper and learn how automotive brands are enhancing ad relevancy and efficiency with device-specific purchase data.</p>

      <a href="/assets/State_of_the_Market-Auto-c2a5b3d36c1d7f12e43e8c6878e21648.pdf" target="_blank"><button  class="button_3d light_blue center-block ">Learn More</button></a>
    </div>
  </div>
  <div class="col-md-6 hidden-xs hidden-sm">
    <%= image_tag "auto_report.png", class: "vertical-middle img-responsive center-block", id: "segments-image" %>
  </div>

</div>



<div class="row sectionblue cta">
  <div class="col-md-12 text text-center pad-bot">
    <h2 class="yellowtext">Interested in working with us?</h2>
    <button class="button_3d yellowbtn center-block " data-toggle="modal" data-target="#the-contact-form">Learn More</button>
  </div>
</div>
  
<!-- </div> -->

<div class="row footer">
  <div class="col-md-12">
    <div class="row footer-container">
      <div class="col-md-12">
        <ul id="about-us" class="list-inline">
          <li class="menu-item"><a href="/">Home</a></li>
          <li class="menu-item"><a href="http://www.vervemobile.com/about-us">About us</a></li>
          <li class="menu-item"><a href="http://www.vervemobile.com/about-us/latest-news">News</a></li>
          <li class="menu-item"><a href="http://www.vervemobile.com/jobs">Careers</a></li>
          <li class="menu-item"><a data-toggle="modal" data-target="#the-contact-form">Contact Us</a></li>
        </ul>
      </div>
    </div> <!-- end row -->
    <div class="row footer-container">
      <div class="col-md-12">
        <ul id="privacy-policy">
          <li class="menu-item"><a href="http://www.vervemobile.com/privacy/">Read our privacy policy</a></li>
        </ul>
      </div>
    </div> <!-- end row -->

    <div class="footer-spacer">
    </div>

    <div class="row footer-container">
      <div class="col-md-12">
        <h3>Contact us</h3>
      </div>
    </div>

    <div class="row footer-container">
      <div class="col-sm-4">

        <div class="media">
          <div class="pull-left">
            <%= image_tag "map-nyc.gif", class: "media-object" %>
          </div>

          <div class="media-body">
            <address>
              89 Fifth Avenue</br>
              5th floor</br>
              New York, NY 10003</br>
              <a class="maplink" href="https://goo.gl/maps/o9Usf" target="_blank">View map</a>
            </address>

          </div>

        </div>

      </div> <!-- end col-4 -->

      <div class="col-sm-4">

        <div class="media">
          <div class="pull-left">
            <%= image_tag "map-dc.gif", class: "media-object" %>
          </div>

          <div class="media-body">
            <address>
              4701 Sangamore Rd<br>
              Suite N220<br> 
              Bethesda, MD 20816<br>
              <a class="maplink" href="https://goo.gl/maps/rRE22" target="_blank">View map</a>
            </address>
          </div>
        </div>
      </div> <!-- end col-4 -->

      <div class="col-sm-4">
        <div class="media">

          <div class="pull-left">
            <%= image_tag "map-sd.gif", class: "media-object" %>
          </div>

          <div class="media-body">
            <address>
              5973 Avenida Encinas<br>
              Suite 101<br>
              Carlsbad, CA 92008<br>
              <a class="maplink" href="https://goo.gl/maps/OPfJJ" target="_blank">View map</a>
            </address>
          </div>
        </div>
      </div>
    </div> <!-- end row -->

  </div>
</div>

<!-- automatically start the carousel -->
<script type="text/javascript">
  $(document).ready(function() {
      $('.carousel').carousel({
        interval: 6000
      })
    });
</script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
{ (i[r].q=i[r].q||[]).push(arguments)}
,i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-56636925-1', 'auto');
ga('send', 'pageview');
</script>
