<div class="row">
  <div class="col-md-12">
    <h1 class="text-center page-header">Contact Us</h1>
  </div> 
</div> 

<div class="row">
  <div class="col-md-12">
    <div class="text-box">
            <%= form_tag("https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8", role: "form", class: "text-box", id: "contact-form") do %>
        <div class="modal-body">
          <div class="row">
            <input type=hidden name="oid" value="00D500000006rd2">
            <input type=hidden name="retURL" value="<%= @redir %>">

            <!-- uncomment for debugging powers -->
            <!-- <input type="hidden" name="debug" value=1> -->
            <!-- <input type="hidden" name="debugEmail" value="skye@vervemobile.com"> -->

            <div class="form-group">
              <%= label_tag "first_name", "First Name", class: "control-label" %>
                <%= text_field_tag "first_name", nil, placeholder: "Enter your name here", class: "form-control", maxlength: 40 %>
            </div>

            <div class="form-group">
              <%= label_tag "last_name", "Last Name", class: "control-label" %>
                <%= text_field_tag "last_name", nil, placeholder: "Enter your last name here", class: "form-control", maxlength: 80 %>
            </div>

            <div class="form-group">
              <%= label_tag "email", "Email Address", class: "control-label" %>
              <%= email_field_tag "email", nil, placeholder: "you@company.com", class: "form-control", maxlength: 80 %>
            </div>

            <div class="form-group">
              <%= label_tag "company", "Company", class: "control-label" %>
              <%= text_field_tag "company", nil, placeholder: "Company Name", class: "form-control", maxlength: 40 %>
            </div>

            <div class="form-group">
              <%= label_tag "city", "City", class: "control-label" %>
              <%= text_field_tag "city", nil, placeholder: "City", class: "form-control", maxlength: 40 %>
            </div>

            <div class="form-group">
              <%= label_tag "state", "State/Province", class: "control-label" %>
              <%= text_field_tag "state", nil, placeholder: "State/Province", maxlength: 20, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= label_tag "phone", "Phone Number", class: "control-label" %>
              <%= phone_field_tag "phone", nil, placeholder: "123-456-7890", class: "form-control", maxlength: 40 %>
            </div>

            <div class="form-group">
              <%= label_tag "URL", "Website", class: "control-label" %>
              <%= text_field_tag "URL", nil, placeholder: "http://www.yourwebsite.com", class: "form-control", maxlength: 80 %>
            </div>

            <div class="form-group">
              <% if @use_dropdown %>
                <%= label_tag "industry", "Industry", class: "control-label" %>
                <%= select_tag "industry", options_for_select(@industries), {class: "form-control"} %>
              <% end %>
            </div>
            
            <div class="form-group">
            <input type="hidden" name="industry_c" id="industry_c" value="dave is awesome"> 
            </div>
            
            <div class="form-group">
            <input type="hidden" name="in_c" id="in_c" value="dave rules"> 
            </div>
               
            <div class="form-group">
            <input type="hidden" name="In_c" id="In_c" value="dave is really cool"> 
            </div>
            
             <div class="form-group">
            <input type="hidden" name="Industry_c" id="Industry_c" value="dave poioilkfasdf"> 
            </div>
            
            <!--<div class="form-group">-->
            <!--<input type="hidden" name="industry_category" id="industry_category" value="<%= @in_c %>"> -->
            <!--</div>-->

            <div class="form-group">
              <input type="hidden" name="lead_source" id="lead_source" value="<%= @lead_src %>"> 
            </div>





          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" name="commit" type="submit" name="commit">Submit</button>
        </div>

    <% end %>

    </div>
  </div>
</div>
