<div class="page-title" id="creative"><div class="wrap"><h1 class="entry-title" itemprop="headline">Creative</h1>
</div></div>

<div class="container">
<head>
  <meta charset="UTF-8">
  <title>Verve Wall of Creative</title>

  <!-- <link rel="icon" href="img/favicon.ico" type="image/png"> -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"> <!-- needed for mobile devices -->

  <!-- Import font -->
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->

  <!--&lt;!&ndash; Style for Bootstrap &ndash;&gt;-->
  <!--<link rel="stylesheet" href="app/assets/stylesheets/bootstrap/bootstrap.min.css">-->

  <!--&lt;!&ndash; Custom style for the creative wall&ndash;&gt;-->
  <!--<link rel="stylesheet" href="app/assets/stylesheets/welcomeone.css">-->

  <!--&lt;!&ndash; Media Boxes CSS files &ndash;&gt;-->
  <!--<link rel="stylesheet" href="app/assets/stylesheets/magnific-popup.css">-->
  <!--<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/mediaBoxes.css">-->

  <style>




      /*	 *********** STYLE OF GRID 1 *********** 
		#search{
  			float: right;
  		}*/


      /* *********** STYLE OF GRID 2 *********** */
      #filter2 li a.selected,
      #grid2 .thumbnail-overlay .fa{
          background: #5f7592;
      }
      .media-boxes-drop-down-menu > li > a.selected,
      #grid2 .media-box-date,
      #grid2 .media-box-author{
          color: #28ac86;
      }
      .media-boxes-drop-down{
          float: right;
          margin-left: 5px;
      }
      .media-box-content {
          display:none;
      }
      .submenu_item {
      
      color: #004F7e;
      display: block;
      margin-bottom: 0;
      padding-bottom: 0;
      font-family: "proxima-nova-condensed",sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      border-bottom: 1px solid #e5e5e5;
}

    #menu-about-us {
	border: 1px solid rgb(229,229,229);
	margin-top:50px;
    }
.submenu_item.current_page {
background-color: #F8CA39;
}
menu.genesis-nav-menu {
   -webkit-font-smoothing: subpixel-antialiased;
      clear: both;
      width: 100%;
      border: 1px solid #e5e5e5;
      text-align:left;
}
}
.submenu_item a {
         
	 color: rgb(95, 106, 125);
         display: block;
         padding: 10px 0px 10px 0px;
         margin: 0 15px;
         -webkit-transition: all 0.1s ease-in-out;
         -moz-transition: all 0.1s ease-in-out;
         -ms-transition: all 0.1s ease-in-out;
         -o-transition: all 0.1s ease-in-out;
         transition: all 0.1s ease-in-out;
      }
.submenu_item a:hover {
   color: #F8CA39 !important;
   text-decoration:none;
}

      /* *********** STYLE OF GRID 3 *********** */
      /*#sort2 .media-boxes-drop-down-menu > li > a.selected,
		#filter3 .media-boxes-drop-down-menu > li > a.selected,
		#grid3 .media-box-date{
      		color: #09b0dd;
    	}  	
    	#grid3 .thumbnail-overlay .fa{
			background: #09b0dd;
		}	*/

  </style>

</head>
<body>
<div class="container">
<div class="row col-lg-12">   
    
      <div class="col-lg-3" style="">
                  <ul id="menu-about-us" class="menu genesis-nav-menu menu-secondary">
                              <li id="menu-item-508" class="submenu_item"><a href="http://auto-leadgen.herokuapp.com/tech/">Technology & Resources</a></li>
                              <li id="menu-item-469" class="submenu_item"><a href="http://auto-leadgen.herokuapp.com/tech/consumers">Consumer Segments</a></li>
                              <li id="menu-item-245" class="submenu_item current_page"><a href="http://auto-leadgen.herokuapp.com/tech/creatives">Wall of Creative</a></li>
                              <!--<li id="menu-item-246" class="submenu_item"><a href="http://www.vervemobile.com/about-us/advisory-board/">Advisory Board</a></li>-->
                              <!--<li id="menu-item-567" class="submenu_item"><a href="http://www.vervemobile.com/about-us/latest-news/">Latest News</a></li>-->
                              <!--<li id="menu-item-1366" class="submenu_item"><a href="http://www.vervemobile.com/about-us/ververesearch/">Research</a></li>-->
                              <!--<li id="menu-item-2901" class="submenu_item"><a href="http://www.vervemobile.com/jobs/">Careers</a></li>-->
                  </ul>
      </div>   
   <div class="col-lg-9">
<div class="section">
  <div class="content">
    <h2>Verve Wall of Creative </h2>
    <p>Please take a look below at a large sample of creative we've done for our happy clients!</p>
  </div>
</div>

<div class="grid-section">

  <div class="content grid-container" style="background-color:#FFF !important;">

    <!--  ================== MEDIA BOXES ================== -->

    <div class="filters-container">

      <div class="media-boxes-drop-down" id="sort">
        <!-- 	<div class="media-boxes-drop-down-header">
					</div> -->

        <input type="text" id="search" class="media-boxes-search" placeholder="Search By Tags">
        <!-- 
					<ul class="media-boxes-drop-down-menu">
						<li><a href="#" data-sort-by="original-order" class="selected">Original Order</a></li>
						<li><a href="#" data-sort-by="title" data-sort-toggle="true">Sort by Title</a></li>
						<li><a href="#" data-sort-by="year" data-sort-toggle="true">Sort by Year</a></li>
						<li><a href="#" data-sort-by="author" data-sort-toggle="true">Sort by Author</a></li>
					</ul>-->
      </div>

      <ul class="media-boxes-filter" id="filter2">
        <li><a class="selected" href="#" data-filter="*">All</a></li>
        <!--<li><a href="#" data-filter=".category1">Arts & Entertainment</a></li>-->
        <li><a href="#" data-filter=".category2">BMW</a></li>
        <li><a href="#" data-filter=".category3">Ford</a></li>
        <li><a href="#" data-filter=".category4">Chevrolet</a></li>
        <li><a href="#" data-filter=".category5">Mazda</a></li>
        <li><a href="#" data-filter=".category6">Supercars</a></li>
        <li><a href="#" data-filter=".category7">Repair</a></li>-->
        <li><a href="#" data-filter=".category8">Hyundai</a></li>
        <li><a href="#" data-filter=".category9">Dodge</a></li>
        <li><a href="#" data-filter=".category10">GMC</a></li>
        <li><a href="#" data-filter=".category11">Volkswagen</a></li>
        <li><a href="#" data-filter=".category12">Kia</a></li>
        <li><a href="#" data-filter=".category13">Chrysler</a></li>
	<li><a href="#" data-filter=".category14">Nissan</a></li>
	<li><a href="#" data-filter=".category15">Cadillac</a></li>
	<li><a href="#" data-filter=".category16">Toyota</a></li>
	<li><a href="#" data-filter=".category17">Lincoln</a></li>
	<li><a href="#" data-filter=".category18">Motorcycles</a></li>
	<li><a href="#" data-filter=".category19">Acura</a></li>

	
	
        <!-- <li><a href="#" data-filter=".category1, .category2">Category 1 and 2</a></li> -->
      </ul>

    </div>



    <div id="grid2">

      <!-- -------------------------- BOX MARKUP -------------------------- -->



      <!-- -------------------------- BOX MARKUP -------------------------- -->


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category6">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/WideWorldFerrari_2177821v1.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/WideWorldFerrari_2177821v1.png" %>" title="Wide World Ferrari"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Wide World Ferrari</div>
          <div class="media-box-tags">
            automotive, upscale, luxury, sports, car, sportscar, ferrari, rich, dream, live, the
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/AAA_AutoGlass.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/AAA_AutoGlass.png" %>" title="AAA Auto Glass Repair"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">AAA Auto Glass</div>
          <div class="media-box-tags">
            automotive, glass, repair, fix, windshield, auto, car, sports, click, to, call, tap, touch, enabled
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/AutoCollision&Glass.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/AutoCollision&Glass.png" %>" title="Auto Repair"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Auto Collision and Glass</div>
          <div class="media-box-tags">
            automotive, glass, repair, fix, windshield, auto, car, sports, click, to, call, tap, touch, enabled
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Avondale_AutoCenter.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Avondale_AutoCenter.png" %>" title="Auto Repair"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Avondale Auto Repair</div>
          <div class="media-box-tags">
            automotive, glass, repair, fix, windshield, auto, car, sports, click, to, call, tap, touch, enabled
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category8">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Bakersfield_Hundai.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Bakersfield_Hundai.png" %>" title="Auto Repair"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Hyundai of Bakersfield</div>
          <div class="media-box-tags">
            automotive, glass, repair, fix, windshield, auto, car, sports, click, to, call, tap, touch, enabled, new, sales, inventory
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BJsAutoSpa.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BJsAutoSpa.png" %>" title="Auto Repair"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">BJs Auto Spa</div>
          <div class="media-box-tags">
            automotive, glass, repair, fix, windshield, auto, car, sports, click, to, call, tap, touch, enabled, new, sales, inventory, BJ, Auto, Spa
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BJsAutoSpa2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BJsAutoSpa2.png" %>" title="Auto Repair"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">BJs Auto Spa</div>
          <div class="media-box-tags">
            automotive, glass, repair, fix, windshield, auto, car, sports, click, to, call, tap, touch, enabled, new, sales, inventory, BJ, Auto, Spa
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category2">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BMW_Schererville.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BMW_Schererville.png" %>" title="BMW of Schererville"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">BMW of Schererville</div>
          <div class="media-box-tags">
            BMW, New, Car, Sales, Automotive, Auto, car, luxury, upscale, nice, sedan, deal, offer, promotion
          </div>
        </div>
      </div>



      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Buhler_2188602.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Buhler_2188602.png" %>" title="Buhler Ford"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Buhler Ford</div>
          <div class="media-box-tags">
            Automotive, Auto, Ford, Focus, 2014, new, offer, sale, nice, sedan, deal, offer, promotion
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Buhler_2188602b.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Buhler_2188602b.png" %>" title="Buhler Ford"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Buhler Ford</div>
          <div class="media-box-tags">
            Automotive, Auto, Ford, Focus, 2014, new, offer, sale, nice, sedan, deal, offer, promotion, escape, Escape, explorer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Buhler_2188602c.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Buhler_2188602c.png" %>" title="Buhler Ford"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Buhler Ford</div>
          <div class="media-box-tags">
            Automotive, Auto, Ford, Focus, 2014, new, offer, sale, nice, sedan, deal, offer, promotion, escape, Escape, explorer
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category9">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BurnsMotors.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BurnsMotors.png" %>" title="Burns Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Burns Motors</div>
          <div class="media-box-tags">
            Automotive, Auto, Burns, Motors, 2014, Dodge, Charger, new, car, mobile, offer, promotion
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category9">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BurnsMotors2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BurnsMotors2.png" %>" title="Burns Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Burns Motors</div>
          <div class="media-box-tags">
            Automotive, Auto, Burns, Motors, 2014, Dodge, Charger, new, car, mobile, offer, promotion, dart, dodge, Dart
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category9">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BurnsMotors3.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BurnsMotors3.png" %>" title="Burns Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Burns Motors</div>
          <div class="media-box-tags">
            Automotive, Auto, Burns, Motors, 2014, Dodge, Charger, new, car, mobile, offer, promotion, dart, dodge, Dart, liberty
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category2">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/BurnsMotors3.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/BurnsMotors3.png" %>" title="Burns Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Burns Motors</div>
          <div class="media-box-tags">
            Automotive, Auto, Burns, Motors, 2014, Dodge, Charger, new, car, mobile, offer, promotion, dart, dodge, Dart, liberty, challenger
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Cargill_Chev.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Cargill_Chev.png" %>" title="Cargill Chevy"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Cargill Chevy</div>
          <div class="media-box-tags">
            Automotive, Auto, Chevy, Cargill, chevy, chevrolet, Chevrolet, car, offer, dealership
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Cargill_Chev2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Cargill_Chev2.png" %>" title="Cargill Chevy"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Cargill Chevy</div>
          <div class="media-box-tags">
            Automotive, Auto, Chevy, Cargill, chevy, chevrolet, Chevrolet, car, offer, dealership, butler, monkey, buttle, BUTTLE!
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/CargillChev_2188273.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/CargillChev_2188273.png" %>" title="Cargill Chevy"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Cargill Chevy</div>
          <div class="media-box-tags">
            Automotive, Auto, Chevy, Cargill, chevy, chevrolet, Chevrolet, car, offer, dealership, butler,APR, Offer, Chevy, sales, lead, generator
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category10">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Centennial_BuickGMC.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Centennial_BuickGMC.png" %>" title="Centennial GMC"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Centennial GMC</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Centennial, GMC, Buick, cars, offer, deal, promotion, sales
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category10">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Centennial_BuickGMC2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Centennial_BuickGMC2.png" %>" title="Centennial GMC"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Centennial GMC</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Centennial, GMC, Buick, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category5">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Centennial_Mazda.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Centennial_Mazda.png" %>" title="Centennial Mazda"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Centennial Mazda</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Centennial, Mazda, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category5">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Centennial_Mazda2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Centennial_Mazda2.png" %>" title="Centennial Mazda"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Centennial Mazda</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Centennial, Mazda, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>



      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/ChinoHills_Ford.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/ChinoHills_Ford.png" %>" title="Chino Hills Ford"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Chino Hills Ford</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Chino Hills, Ford, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Chuck_Nash.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Chuck_Nash.png" %>" title="Chuck Nash Auto Group"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Chuck Nash Auto Group</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Chuck Nash, Ford, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category11">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/CoachellaValley_Volkswagen.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/CoachellaValley_Volkswagen.png" %>" title="Coachella Valley Volkswagen"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Coachella Valley VW</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Coachella Valley Volkswagen, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/CommonWealth_Motors.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/CommonWealth_Motors.png" %>" title="CommonWealth Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">CommonWealth Auto Group</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, CommonWealth Auto Group, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category12">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/CovinaValley_Kia.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/CovinaValley_Kia.png" %>" title="Covina Valley Kia Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Covina Kelly Kia</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership,Covina Valley Kia Motors, cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Business/CreativeProductions.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Business/CreativeProductions.png" %>" title="Creative Productions"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Creative Productions</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Creative Productions, agency, employment, SEMA cars, offer, deal, promotion, sales, tap, touch, enabled, ios
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/CurrieMotors_2188098A1.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/CurrieMotors_2188098A1.png" %>" title="Currie Motors"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Currie Motors</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Currie Motors, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>



      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category10">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/DanTobin.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/DanTobin.png" %>" title="Dan Tobin"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Dan Tobin Motors</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Dan Tobin Motors, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category13">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/DonJohnson_Brownsville.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/DonJohnson_Brownsville.png" %>" title="Don Johnson"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Don Johnson</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Don Johnson Motors, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>



      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category14">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/FrankFletcher_Nissan.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/FrankFletcher_Nissan.png" %>" title="Frank Fletcher"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Frank Fletcher</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Frank Fletcher Motors, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category15">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/GoldCoast_Cadillac_2188404.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/GoldCoast_Cadillac_2188404.png" %>" title="Gold Coast Cadillac"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Gold Coast Cadillac</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Gold Coast Cadillac, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category15">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/GoldCoast_Cadillac.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/GoldCoast_Cadillac.png" %>" title="Gold Coast Cadillac"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Gold Coast Cadillac</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Gold Coast Cadillac, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>



      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category15">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/GoldCoast_Cadillac.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/GoldCoast_Cadillac.png" %>" title="Gold Coast Cadillac"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Gold Coast Cadillac</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Gold Coast Cadillac, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category2">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Habberstad.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Habberstad.png" %>" title="Habberstad BMW"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Habberstad BMW of Huntington</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Habberstad BMW, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category2">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Habberstad2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Habberstad2.png" %>" title="Habberstad BMW"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Habberstad BMW of Huntington</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Habberstad BMW, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category16">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Jerrys.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Jerrys.png" %>" title="Jerrys Automotive"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Jerrys</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Jerrys, Jerry's, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category16">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Jerrys2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Jerrys2.png" %>" title="Jerrys Automotive"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Jerrys</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Jerrys, Jerry's, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category16">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Jerrys3.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Jerrys3.png" %>" title="Jerrys Automotive"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Jerrys</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Jerrys, Jerry's, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category17">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/LaFayette_FordLincoln.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/LaFayette_FordLincoln.png" %>" title="Lafayette Ford Lincoln"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">LaFayette Ford Lincoln</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Lafayette Ford Lincoln, cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category12">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Lawrence_Kia2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Lawrence_Kia2.png" %>" title="Lawrence Kia"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Lawrence Kia</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Lawrence Kia cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category12">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Lawrence_Kia.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Lawrence_Kia.png" %>" title="Lawrence Kia"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Lawrence Kia</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Lawrence Kia cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category13">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Londonderry_Chrysler.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Londonderry_Chrysler.png" %>" title="Londonderry Chrysler"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Londonderry Chrysler</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Londonderry Chrysler cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category13">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Londonderry_Chrysler2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Londonderry_Chrysler2.png" %>" title="Londonderry Chrysler"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Londonderry Chrysler</div>
          <div class="media-box-tags">
            Automotive, Auto, Car, car, dealership, Londonderry Chrysler cars, offer, deal, promotion, sales, tap, touch, enabled, ios, test, drive, test drive, luxury, upscale, ipad, offer
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category18">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/MarylandRider.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/MarylandRider.png" %>" title="Maryland Rider"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Maryland Rider</div>
          <div class="media-box-tags">
            Motorcycles, Awareness, Maryland Riders, Maryland Rider, Rider, Maryland, Public Awareness
          </div>
        </div>
      </div>



      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category9">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/McKinneyDodge.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/McKinneyDodge.png" %>" title="McKinney Dodge"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">McKinney Dodge</div>
          <div class="media-box-tags">
            McKinney Dodge, Cars, Auto, Automotive, cars, sales, car sales, lead, lead generation, chrysler, jeep, ram
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category16">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Milham.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Milham.png" %>" title="Milham Toyota"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Milham Toyota</div>
          <div class="media-box-tags">
            Milham Toyota, Toyota, Milham, rebate, offer, graduates, ad, digital, cars, automotive, prius
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category2">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Milham2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Milham2.png" %>" title="Milham Toyota"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Milham Toyota</div>
          <div class="media-box-tags">
            Milham Toyota, Toyota, Milham, rebate, offer, graduates, ad, digital, cars, automotive, prius
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category7">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Mitchells_Mobile.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Mitchells_Mobile.png" %>" title="Mitchells Mobile Lube Center"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Milham Toyota</div>
          <div class="media-box-tags">
            Mitchell Mobile Lube Center repair, oil, change, oil change, fix, garage, shop, parts, service, auto service, automotive service
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category2">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/MotorWorldToyota_2187915v1.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/MotorWorldToyota_2187915v1.png" %>" title="Motor World Toyota"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Motor World Toyota</div>
          <div class="media-box-tags">
            Motor World Toyota, gift card, gift, card, offer, target, dealership, offer, sale, incentive, lead generator, generator, lead
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category14">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/NorthPlainfield_Nissan_2189249.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/NorthPlainfield_Nissan_2189249.png" %>" title="North Plainfield Nissan"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">North Plainfield Nissan</div>
          <div class="media-box-tags">
            North Plainfield Nissan, Nissan, Plainfield, North, dealership, Automotive, auto, car, offer,
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/OasisChevrolet_2189459.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/OasisChevrolet_2189459.png" %>" title="Oasis Chevy"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Oasis Chevrolet</div>
          <div class="media-box-tags">
            Oasis Chevrolet, Chevy, Chevrolet, Oasis, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category19">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/PohankaAcura_2190357.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/PohankaAcura_2190357.png" %>" title="Pohanka Acura"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Pohanka Acura</div>
          <div class="media-box-tags">
            Pohanka Acura, Acura, Pohanka, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category19">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/PohankaAcura_2190381.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/PohankaAcura_2190381.png" %>" title="Pohanka Acura"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Pohanka Acura</div>
          <div class="media-box-tags">
            Pohanka Acura, Acura, Pohanka, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category13">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/PortJeff_2190151.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/PortJeff_2190151.png" %>" title="Port Jeff Chrysler"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Port Jeff</div>
          <div class="media-box-tags">
            Port Jeff, Port, Jeff, Chrysler, Jeep, Dodge, Ram, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Portsmouth_Ford.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Portsmouth_Ford.png" %>" title="Portsmouth Ford"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Portsmouth Ford</div>
          <div class="media-box-tags">
            Port Jeff, Port, Jeff, Ford, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/SimiValley_Chevrolet.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/SimiValley_Chevrolet.png" %>" title="Simi Valley Chevrolet"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Simi Valley Chevy</div>
          <div class="media-box-tags">
            Simi Valley, Chevy, Simi Valley Chevrolet, Chevrolet, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>


      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category4">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/SimiValley_Chevrolet2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/SimiValley_Chevrolet2.png" %>" title="Simi Valley Chevrolet"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Simi Valley Chevy</div>
          <div class="media-box-tags">
            Simi Valley, Chevy, Simi Valley Chevrolet, Chevrolet, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category10">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Temecula_BuickGMC.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Temecula_BuickGMC.png" %>" title="Temecula Buick GMC"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Temecula Buick GMC</div>
          <div class="media-box-tags">
            Temecula Buick GMC, Buick, GMC, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category8">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Temecula_Hyundai.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Temecula_Hyundai.png" %>" title="Temecula Hyundai"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Temecula Hyundai</div>
          <div class="media-box-tags">
            Temecula Hyundai, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category8">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Temecula_Hyundai2.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Temecula_Hyundai2.png" %>" title="Temecula Hyundai"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">Temecula Hyundai</div>
          <div class="media-box-tags">
            Temecula Hyundai, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category13">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/TheJeepStore_2188505.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/TheJeepStore_2188505.png" %>" title="The Jeep Store"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">The Jeep Store</div>
          <div class="media-box-tags">
            The Jeep store, jeep, cherokee, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>

      <!-- -------------------------- BOX MARKUP -------------------------- -->
      <div class="media-box category3">
        <div class="media-box-image">
          <div data-width="320" data-height="400" data-thumbnail="<%= image_url "gallery/Automotive/Tipton_Ford.png" %>"></div>
          <div data-popup="<%= image_url "gallery/Automotive/Tipton_Ford.png" %>" title="Tipton Ford"></div>

          <div class="thumbnail-overlay">
            <i class="fa fa-plus mb-open-popup"></i>
            <!-- <a href="#"><i class="fa fa-link"></i></a> -->
          </div>
        </div>

        <div class="media-box-content">
          <div class="media-box-year">2014</div>
          <div class="media-box-title">The Jeep Store</div>
          <div class="media-box-tags">
            The Jeep store, jeep, cherokee, Cars, Automotive, auto, sales, truck, offer, promotion, lead, lead generation, generation, incentive
          </div>
        </div>
      </div>


     


















    </div> <!-- #container -->
    

    <!--  ================== END MEDIA BOXES ================== -->
  </div>
</div>
</div>

<!-- jQuery 1.7.2+ -->
<!--<script src="app/assets/javascripts/jquery-1.10.2.min.js"></script>-->

<!-- Media Boxes JS files -->
<!--<script src="app/assets/javascripts/jquery.isotope.js"></script>-->
<!--<script src="app/assets/javascripts/jquery.imagesLoaded.min.js"></script>-->
<!--<script src="app/assets/javascripts/jquery.transit.min.js"></script>-->
<!--<script src="app/assets/javascripts/jquery.easing.js"></script>-->
<!--<script src="app/assets/javascripts/waypoints.min.js"></script>-->
<!--<script src="app/assets/javascripts/modernizr.custom.min.js"></script>-->
<!--<script src="app/assets/javascripts/jquery.magnific-popup.min.js"></script>-->
<!--<script src="jquery.mediaBoxes.js"></script>-->



<script>



    $('#grid2').mediaBoxes({
        filterContainer: '#filter2',
        sortContainer: '#sort',
        getSortData: {
            title: '.media-box-title',
            year: '.media-box-year parseInt',
            author: '.media-box-author'
        },
        search: '#search',
        searchTarget: '.media-box-tags',
        horizontalSpaceBetweenBoxes: 20,
        verticalSpaceBetweenBoxes: 20,
        boxesToLoadStart: 164,
        columns: 4
    });



</script>


<!-- Bootstrap JS file -->
<!--<script src="app/assets/javascripts/bootstrap.min.js"></script>-->

<!--<script src="app/assets/javascripts/demo.js"></script>-->

</div>

</div>

</div></body>