<!DOCTYPE html>
<html lang="en-US" class="wf-proximanova-n4-active wf-proximanova-n7-active wf-proximanovacondensed-n4-active wf-proximanovacondensed-n6-active js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websocks rgba hsla mulitplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-fftisawebpro-n4-active wf-proximanova-n6-active wf-proximanovacondensed-n7-active wf-active">
<head>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa7tNOmO-c_FiT-dgG4KpPo4v6HB-TAGc"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title><%= content_for?(:title) ? yield(:title) : "Direct" %></title>
<%= csrf_meta_tags %>

<!-- support for ie6-ie8 html elements -->
<!-- [if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
<![endif] -->

<%= stylesheet_link_tag "application", :media => "all" %>

<%= javascript_include_tag "application" %>

<!-- meta tags from vervemobile dot com -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="http://www.vervemobile.com/wp-content/themes/centric-pro/img/facebookicon.png">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

<link rel="Shortcut Icon" href="http://www.vervemobile.com/wp-content/themes/centric-pro/images/favicon.ico" type="image/x-icon">
</head>

<body class="page page-id-2898 page-parent page-template-default header-image full-width-content solutions" itemscope="itemscope" itemtype="http://schema.org/WebPage">


<!-- <header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <div class="wrap">
    <div class="title-area">
      <p class="site-title" itemprop="headline"><a href="/">Verve</a></p>
    </div>
    <aside class="widget-area header-widget-area">
      <section id="nav_menu-6" class="widget widget_nav_menu">
        <div class="widget-wrap">
          <nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
            <div id="responsive-menu-icon"></div>
            <ul id="menu-new_main" class="menu genesis-nav-menu responsive-menu">
              --><!-- to make something the active menu item: use these classes -->
              <!-- current-menu-item page_item current_page_item page-item-NNNN -->
              <!-- <li id="menu-item-2689" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2689"><a href="" data-toggle="modal" data-target="#the-contact-form">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </section>
    </aside>
  </div>
</header> -->

<!--<nav class="navbar navbar-default" role="navigation">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/">-->
            <!--</a>-->
        <!--</div> &lt;!&ndash; end navbar header &ndash;&gt;-->

        <!--<div class="collapse navbar-collapse" id="navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="" data-toggle="modal" data-target="#the-contact-form">Contact Us</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "verve_mobile_logo.png", alt: "Verve" %>
    </a>
  </div>
</nav>



  <%= yield %>

<footer class="row section_footer bg">

    <div class="col-md-4 col-sm-12">
        <div class="row">
          <div class="col-xs-8 col-sm-6">
                      <%= image_tag "map-nyc.gif", class: "vertical-middle img-responsive center-block" %>
          </div>

          <div class="col-xs-4 col-sm-6 address center-block">
                    44 W 18th Street<br>
                    Suite 702<br>
                    New York, NY 10011<br>
                    <a class=" maplink" href="https://goo.gl/maps/qA8mk" target="_blank">View map</a>

          </div>
        </div>
    </div>

  <div class="col-md-4 col-sm-12">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <%= image_tag "map-dc.gif", class: "vertical-middle img-responsive center-block" %>
      </div>

      <div class="col-xs-4 col-sm-4 address center-block">
        4701 Sangamore Rd<br>
        Suite N220<br>
        Bethesda, MD 20816<br>
        <a class=" maplink" href="https://goo.gl/maps/qA8mk" target="_blank">View map</a>

      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <%= image_tag "map-sd.gif", class: "vertical-middle img-responsive center-block" %>
      </div>

      <div class="col-xs-4 col-sm-4 address center-block">
        5973 Avenida Encinas<br>
        Suite 101<br>
        Carlsbad, CA 92008<br>
        <a class=" maplink" href="https://goo.gl/maps/qA8mk" target="_blank">View map</a>

      </div>
    </div>
  </div>
</footer>

</body>
</html>

